.App {
  text-align: center;
}



p, h3, h2 {
  margin: 0;
  font-family: 'Lexend';
}

@font-face {
  font-family: "Lexend";
  src: url("./Assets/Lexend-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}
